extends layout

block content
  h1 freeCodeCamp API Projects
  h2 Timestamp Microservice
  p.green Example Usage
  code https://fcc-321-timestamp.herokuapp.com/January 22, 2017
  br
  code https://fcc-321-timestamp.herokuapp.com/1485088343
  p.green Expected Output is JSON
  code { "unix": 1485088343, "natural": January 22, 2017}
