extends layout

block content
  h1 freeCodeCamp API Projects
  h2 Timestamp Microservice
  p.green Example Usage
  code localhost:3000/January 22, 2017
  br
  code code localhost:3000/1485088343
  p.green Expected Output is JSON
  code { "unix": 1485088343, "natural": January 22, 2017}
